#price-range-container {
  width: 50%;
  max-width: 250px;
}
.price-input {
  display: flex;
  margin-bottom: 15px;
}
.price-input .field {
  display: flex;
  align-items: center;
}
.field span {
  font-weight: bold;
}
.field input {
  width: 100%;
  outline: none;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--gray-400);
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: var(--gray-400);
  border-radius: 10px;
}
.slider .progress {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background: var(--gray-900);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--gray-900);
  pointer-events: auto;
  -webkit-appearance: none;
}
input[type='range']::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background: var(--gray-900);
  pointer-events: auto;
  -moz-appearance: none;
}

@media (min-width: 769px) {
  #price-range-container {
    justify-self: end;
    width: 250px;
  }
}
