main {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

#product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.hidden {
  display: none;
}

article {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
}

article .image-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

article .image {
  max-height: 100%;
}

article .title {
  font-size: 1rem;
  margin-bottom: 10px;
}

article .rating-container {
  display: flex;
  align-items: center;
}

article .rating-rate {
  display: flex;
}

article .star {
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

article .star-fill {
  background-image: url('../../assets/icons/star-fill.svg');
}

article .star-half {
  background-image: url('../../assets/icons/star-half.svg');
}

article .star-line {
  background-image: url('../../assets/icons/star-line.svg');
}

article .category {
  text-transform: capitalize;
}

@media (min-width: 769px) {
  #product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  main {
    padding: 40px;
  }

  #product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
