#select-range-container {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: end;
}

#sort-select-container label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

@media (min-width: 769px) {
  #select-range-container {
    justify-content: end;
    gap: 30px;
  }

  #sort-select-container {
    display: flex;
    gap: 10px;
  }

  #sort-select-container label {
    margin-bottom: 0;
  }
}
